<!DOCTYPE html>
<html>
<head>
<title>Моя первая страница</title>
</head>
<body>
Я Вас приветствую!!! <br/> Это Начало большого пути в просторы Интернета

<img src="/kartinka.png">
owner is {{owner}} </br>
ansible_distribution is {{ansible_distribution}}</br>
ansible_default_ipv4 is {{ansible_default_ipv4.address}}</br>
</body>
</html>
